# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# generated (커밋 안 함 — build_runner 로 재생성)
*.g.dart

# Android
android/.gradle/
android/local.properties
android/key.properties
**/*.keystore
**/*.jks

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store
